<h1>All Kittens</h1>

<% flash.each do |type, msg| %>
  <%= msg %>
<% end %>

 <table>
   <tr>
     <th>Name</th>
     <th>Age</th>
     <th>Cuteness</th>
     <th>Softness</th>
   <tr>

    <% @kittens.each do |kitten| %>
      <tr>
        <td><%= link_to kitten.name, edit_kitten_path(kitten.id)%></td>
        <td><%= kitten.age %></td>
        <td><%= kitten.cuteness %></td>
        <td><%= kitten.softness %></td>
        <td><%= link_to 'Delete', kitten_path(kitten.id), method: :delete, data: {confirm: 'Are you sure you want to delete?'}%></td>
      </tr>
    <% end %>
  </table><br>
<%= link_to 'New', new_kitten_path %>